<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WindowsFormsApplication1.Properties.Settings>
            <setting name="F1State" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="behaviorname" serializeAs="String">
                <value>Behavior Name</value>
            </setting>
            <setting name="tab1name" serializeAs="String">
                <value>tabControl1</value>
            </setting>
            <setting name="researcher1" serializeAs="String">
                <value>Researcher name here</value>
            </setting>
            <setting name="state_name1" serializeAs="String">
                <value>State Name</value>
            </setting>
            <setting name="event_name1" serializeAs="String">
                <value>Event Name</value>
            </setting>
            <setting name="state_name2" serializeAs="String">
                <value>State Name</value>
            </setting>
            <setting name="event_name2" serializeAs="String">
                <value>Event Name</value>
            </setting>
            <setting name="tab2name" serializeAs="String">
                <value>Behavior 2</value>
            </setting>
            <setting name="behaviorname2" serializeAs="String">
                <value>Behavior Name</value>
            </setting>
            <setting name="state_name3" serializeAs="String">
                <value>State Name</value>
            </setting>
            <setting name="event_name3" serializeAs="String">
                <value>Event Name</value>
            </setting>
            <setting name="tab3name" serializeAs="String">
                <value>Behavior 3</value>
            </setting>
            <setting name="behaviorname3" serializeAs="String">
                <value>Behavior Name</value>
            </setting>
            <setting name="state_name4" serializeAs="String">
                <value>State Name</value>
            </setting>
            <setting name="event_name4" serializeAs="String">
                <value>Event Name</value>
            </setting>
            <setting name="tab4name" serializeAs="String">
                <value>Behavior 4</value>
            </setting>
            <setting name="behaviorname4" serializeAs="String">
                <value>Behavior Name</value>
            </setting>
            <setting name="state_name5" serializeAs="String">
                <value>State Name</value>
            </setting>
            <setting name="event_name5" serializeAs="String">
                <value>Event Name</value>
            </setting>
            <setting name="tab5name" serializeAs="String">
                <value>Behavior 5</value>
            </setting>
            <setting name="behaviorname5" serializeAs="String">
                <value>Behavior Name</value>
            </setting>
        </WindowsFormsApplication1.Properties.Settings>
    </userSettings>
</configuration>